<div class="weixin">
  <br />
<!--
  <p class="asidetitle">微信打赏，赞助小猿</p>
  <p>你的支持，是对小猿的最大鼓励</p>
  <img src="/ad/weixin-pay.png" width="220px" />
-->
<br />
  <p class="asidetitle">欢迎关注微博</p>
  <p>微博ID：<a href="https://weibo.com/u/5166488487" target="_blank">@devhitao</a></p>
  <a href="https://weibo.com/u/5166488487" target="_blank"><img src="/ad/weibo.png" width="220px" /></a>
  <!-- <p class="asidetitle">iOS交流群</p> -->
  <!-- <p>Q群:326729317,暗号:小锅</p> -->
  <!-- <a href="http://jq.qq.com/?_wv=1027&k=2BjVH4c" target="_blank"><img src="/ad/place-hold.png"  width="220px" /></a> -->
<br />
<br />
  <p class="asidetitle">友情链接</p>
  <!-- 
  <p>test</p>
  <a href="http://www.test.com" target="_blank"><img src="/ad/weibo.png"  width="220px" height="100"/></a>
-->
</div>
